/*
*
* Header's style
*
*/

body {
    margin-top: 50px;
}

#header {
    /* Make the header font bigger */
    font-size: 2em;
}

#header a {
    /* Remove the default `a` style */
    text-decoration: inherit;
    color: inherit;
}

#header {
    /* This flexbox contains (links at the left / links at the right) */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Header position & size */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    /* Header background */
    background: var(--header-background);

    /* Icons */
    font-family: "Noto Emoji Nerd Font";
}

#header a {
    margin: 0 0.2em;
}

#header-links-separator {
    flex-grow: 1;
}