* {
	--header-background: #202225;
	--header-foreground-color: white;
	--main-background: #36393f;
	--main-foreground-color: white;
	--main-foreground-color-alt: rgb(136, 136, 136);
	--accent-color: #a154ff;
}