<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/variables.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>{{ page.title }} | Châtelet Gaming</title>
</head>
<body>
	<header id="header">
		<a href="/index.html"></a>
		<a href="/contact.html"></a>
		<div id="header-links-separator"></div>
		<a href="https://www.twitch.tv/chateletgaming">既</a>
		<a href="https://www.youtube.com/channel/UCfJIgnD5iyzRu4RI4jCqUZA"></a>
		<a href="https://twitter.com/ChateletGaming?s=09">暑</a>
		<a href="https://www.instagram.com/chatelet_gaming/"></a>
		<a href="https://discord.gg/qvSUKVWY4v">ﭮ</a>
		<a href="https://github.com/Victor-Bo/chatelet-gaming"></a>
	</header>
	<main id="main">
		{{ content}}
	</main>
</body>
</html>