<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/variables.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>{{ page.title }} | Châtelet Gaming</title>
</head>
<body>
	<header id="header">
		<section id="header-links">
			<section id="header-links-left">
				<a href="/index.html"></a>
			</section>
			<section id="header-links-right">
				<a href="https://github.com/Victor-Bo/chatelet-gaming"></a>
				<a href="https://discord.gg/qvSUKVWY4v">ﭮ</a>
				<a href="https://www.instagram.com/chatelet_gaming/"></a>
				<a href="https://twitter.com/ChateletGaming?s=09">暑</a>
				<a href="https://www.youtube.com/channel/UCfJIgnD5iyzRu4RI4jCqUZA"></a>
				<a href="https://www.twitch.tv/chateletgaming">既</a>
			</section>
		</section>
	</header>
	<div>
		<h1 id="main-title">Châtelet Gaming</h1>
		<main id="main">
			{{ content }}
		</main>
	</div>
</body>
</html>